@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

/* Fonts */
:root {
  --heading-font: "Roboto";
  --paragraph-font: Roboto, Helvetica, sans-serif;
}

/* Colors */
:root {
  --primary-color: #343437;
  --secondary-color: #5c5c5c;
  --accent1-color: #9ab6bc;
  --accent2-color: white;
  --headline-color-on-white: black;
  --headline-color-on-color: #FFFFFF;
  --paragraph-color-on-white: #a5b7c3;
  --paragraph-color-on-color: white;
  --paragraph-background-color: #6f7377;
  --nav-link-color: #75797c;
  --nav-background-color: #797a7e;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #404346;
}
 
 
.header-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.header-grid img {
  max-width: 100%;
}

.header-grid nav {
  text-align: right;
}

.header-grid a {
  margin-left: 20px;
  color: #333;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header-grid {
    grid-template-columns: auto;
    justify-content: space-between;
    align-items: center;
  }

  .header-grid nav {
    
    text-align: center;
  }


  .header-grid a {
    display: block;
    margin: 10px 0;
  }
}
 
/* General Styles */
body {
  margin: 10%;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

/* Header Styles */
header {
  background-color: #ffffff9b;
  padding: 30px; 
  
} 

  h2 {
  text-align: center; 
  font-size: 24px
}

/* Navigation Styles */
nav {
  background-color: #ffffff;
  display: flex;
  justify-content: center; 
  text-align: right;
}

nav a {
  text-align: center;
  color: #000;
  text-decoration: none;
  padding: 20px; 
  font-size: 30px
}

/* Hero Section Styles */
.hero {
  position: relative;
  margin-top: 1rem;
}

.hero img {
  width: 100%;
  height: auto;
  display:block;
}

.hero h1 {
  position: absolute;
  top: 10px;
  left: 350px;
  color: #ffffff;
  text-align: center; 
  font-size:100px
}

.hero article {
  position: absolute;
  bottom: 40px;
  left: 20px;
  border: 1px solid #000;
  padding: 2%;
  background-color: #242425;
  color: #ffffff;
  opacity: .9;
}

.hero article img {
  width: 200px;
  height: auto;
  float: right;
}

/* Footer Styles */
footer {
  background-color: #555557;
  color: #000;
  padding: 20px 20px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  
}

footer a {
  color: #000;
  text-decoration: rgb(52, 52, 52);
}

footer p {
  font-size: 1.2em;
}

footer a:hover {
  color: #ffffff;
}

/* History Section Styles */
.history-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 

}

.content-container {
  display: flex;
  justify-content: center;
  align-items: left;
  
}

.text-left,
.text-right {
  flex-basis: 100%;
  text-align: left; 
  font-size: 18px
}

.image-container {
  flex-basis: 100%;
  text-align: center;
  margin: 10px;
}

.centered-image {
  max-width: 200%;
}

/* Adventures Section Styles */
.adventures-section {
  margin-top: 30px;
}

.adventures-grid {
  display: flex;
  justify-content: space-between;
}

.adventures-grid figure {
  flex: 10% 20% 40%;
  margin: 0;
  text-align: center;
}

.adventures-grid img {
  width: 80%;
  height: auto;
  border-radius: 5px;
  grid-template-columns: auto 1fr;
  align-items: right;
}

.adventures-grid figcaption {
  margin-top: 10px;
}

/* Social Links Styles */
.sociallinks {
  display: flex;
  justify-content: flex-end; 
  background-color: transparent;
}

.sociallinks img {
  width: 30px;
 margin-left: 0px;
} 
 


/* Styles for company information section */
#company-info {
  margin: 20px 0;
}

.address, .phone, .email {
  margin-bottom: 10px;
}

/* Styles for employee profiles */
#employees {
  margin: 40px auto;
  max-width: 800px;
  text-align: center; 

}

.employee {
  display: inline-block;
  text-align: center;
  margin-right: 20px; 
 
}

.employee img {
  width: 200px;
  height:190px;
  border-radius: 50%;
  margin-bottom: 10px;  
  border: 2px solid #000000;
}


.employee .name {
  font-weight: bold;
  margin-bottom: 2px;
}

.employee .title {
  font-style: italic; 
  margin-top: 2px; 
  
}

/* Styles for contact form */
#contact-form {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2; 
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
 
select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-bottom: 10px;
}


form input,
form select,
form textarea {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
}
 
 
button[type="submit"] {
  padding: 10px 20px;
  background-color: #6a6d6b;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #b2b6b2;
}

 

p {
  color: rgb(62, 62, 63);
}

